prune build
prune docs/_build
prune docs/api
recursive-include jwst_gc_pipeline/reduction *.ecsv
recursive-include jwst_gc_pipeline/reduction *.csv
include licenses/LICENSE.rst
include README.md
global-exclude *.pyc *.o
